[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pandas = "*"
numpy = "*"
altair = "*"
matplotlib = "*"
jupyterlab = "*"
pandas-profiling = {extras = ["notebook"], version = "*"}
scikit-learn = "*"
scipy = "*"
dtaidistance = "*"

[requires]
python_version = "3.8"
